.recipeTile {
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
  background-color: white;
  height: 320px;
  border: rgb(0, 28, 88) double 5px;
  border-radius: 10px;
  
}
.recipeTile:hover
{
  background-color: rgb(74, 153, 221);
}
  .recipeTile__img {
    height: 225px;
    width: 200px;
    object-fit: fill;
  }
  
  .recipeTile__name {
    max-width: 200px;
    text-align: center;
    margin: 12px 0px;
  }